<div class="mat-elevation-z8">
    <mat-form-field>
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium">
</mat-form-field>

<table mat-table [dataSource]="dataSource" matSort>
  
    <!-- Id Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> ID. </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>
  
    <!-- Hire Date Column -->
    <ng-container matColumnDef="hireDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Hire Date </th>
        <td mat-cell *matCellDef="let element"> {{element.hireDate | date: 'shortDate'}} </td>
      </ng-container>

    <!-- FName Column -->
    <ng-container matColumnDef="firstName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> First </th>
      <td mat-cell *matCellDef="let element"> {{element.firstName}} </td>
    </ng-container>
  
    <!-- LName Column -->
    <ng-container matColumnDef="lastName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Last </th>
      <td mat-cell *matCellDef="let element"> {{element.lastName}} </td>
    </ng-container>
  
    <!-- Phone Column -->
    <ng-container matColumnDef="phone">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Phone </th>
      <td mat-cell *matCellDef="let element"> {{element.phone}} </td>
    </ng-container>

    <!-- Email Column -->
    <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
        <td mat-cell *matCellDef="let element"> {{element.email}} </td>
    </ng-container>

    <!-- Address Column -->
    <ng-container matColumnDef="address">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Address </th>
        <td mat-cell *matCellDef="let element"> {{element.address}}, {{element.city}}, {{element.state}}, {{element.zip}} </td>
    </ng-container>

    <!-- Salary Column -->
    <ng-container matColumnDef="salary">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Salary </th>
        <td mat-cell *matCellDef="let element" [style.color]="element.salary <= 50000 ? 'red' : 'green' "> {{element.salary | currency}}</td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    
  </table>
  <mat-paginator [pageSizeOptions]="[10, 20, 50, dataSource.data.length]" showFirstLastButtons></mat-paginator>

</div>
